body{
    background-color: #202020;
    color: #f0f0f0;
    font-family: 'Consolas', monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ascii-art {
    background-color: #202020;
    padding-left: 10px;
    font-family: 'Terminal', monospace;
    white-space: pre;
    text-align: center;
}

.ascii-art pre {
    color: #f0f0f0;
    font-size: 0.95vw;
}

.terminal-body {
    padding-left: 10px;
    flex: 1;
    overflow-y: auto;
    position: relative;
    top: -55px;
}

.command-line input {
    background-color: transparent;
    caret-color: transparent;
    border: none;
    outline: none;
}

.help-text-container {
    margin-right: 50px;
    margin-top: 0px;

}
